<?xml version="1.0" encoding="UTF-8"?>
<!--
	Requiere el módulo URL-Rewrite ( Works With: IIS 7, IIS 7.5, IIS 8, IIS 8.5, IIS 10)
	https://www.iis.net/downloads/microsoft/url-rewrite
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>